In [ ]:
import pandas as pd      # import pandas library
data = pd.read_csv('/home/ankit/Downloads/archive/netflix.csv')

In [ ]:
data.shape # TO SHOW NO'S OF ROWS AND COLUMNS

In [ ]:
data.head() #SHOW DATA TOP 5

In [ ]:
data.tail()  #TO SHOW BOTTOM 5 RECORD

In [ ]:
data.columns   # TO SHOW EACH COLUMN OF DATASET

In [ ]:
data.size  # to show  NO OF TOTAL VALUES (ELEMENTS) IN DATA SETS

In [ ]:
data.dtypes  # TO SHOW DATA-TYPE EACH COLUMNS

In [ ]:
data.info #Gives information about your data

In [ ]:
data.describe()  # describe() method returns description of the data in the DataFrame (i.e. count, mean, std, etc)

RENAME COLUMN

In [ ]:
data.rename(columns = {'type' : 'category'}, inplace = True)  # change a column name type => category

In [ ]:
data.dtypes

TO FIND THE DUPILICATE FUNCTION :

In [ ]:
data[data.duplicated()]

In [ ]:
data.drop_duplicates(inplace= True) # TO remove duplicates data for permanently

IS THERE ANY NULL VALUES IN PRESENT DATA IN ANY COLUMNS :

In [ ]:
data.isnull() # to show there is any null values in this data : 
#  if there is any null values showing True. if not any null  values show false

In [ ]:
data.isnull().sum()        #to show the count  of null values in each column

SEABORN LIBRARY (HEAT-MAP)

In [ ]:
import seaborn as sns      #  import seaborn  library

In [ ]:
sns.heatmap(data.isnull())      #using heat-map to showing null values

Q.1) FOR 'HOUSE OF CARDS' WHAT IS THE SHOW ID AND WHO IS THE DIRECTOR OF THIS SHOW ?

isin()

In [ ]:
data.head()

In [ ]:
data[data['title'].isin(['House of Cards'])] # to show all records of particular item in any column

str.contains

In [ ]:
data[data['title'].str.contains('House of Cards')] # as it is same .isin

TO_DATETIME

In [ ]:
data['date_n'] = pd.to_datetime(data['date_added'])

In [ ]:
data.head()

In [ ]:
data.dtypes

Q.2) IN WHICH YEAR HIGHEST OF NO TV SHOW AND MOVIES WERE RELEASE ? SHOW BAR GRAPH

In [ ]:
data['date_n'].dt.year.value_counts()   #  count heighest movie release which year

In [ ]:
data['date_n'].dt.year.value_counts().plot(kind = 'bar')

Q.3) how many movies and tv show are in this data set ? show bar graph

In [ ]:
data.groupby('category').category.count()  # to group all unique items of columns  and show thier count

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.countplot(data=data, x='category')
plt.show()

In [ ]:
# decrease figure and figsize
ax = sns.countplot(data =  data, x = 'category')

sns.set(rc={'figure.figsize':(3,2)})
for bars in ax.containers:
    ax.bar_label(bars)

Q.4) SHOW ALL THE MOVIES THAT WERE RELEASE IN YEAR IN 2020.

In [ ]:
data.head(1)

In [ ]:
data[(data['category'] == 'Movie')&(data['release_year']== 2020)]

In [ ]:
data[(data['country']=='India')&(data['title'])]   # these movies and show release only in india

Q.5) SHOW TOP 10 DIRECTORS, WHO GAVE THE HIGHEST NO  OF TV SHOW AND MOVIES IN NETFLIX ?

In [ ]:
data.head(5)

In [ ]:
data['director'].value_counts().head(10)

Q.6) SHOW ALL  THE RECORDS WHERE CATEGORY IS MOVIE & LISTED IN COMEDIES & COUNTRY IS UNITED STATES

(&,OR OPRETOR)

In [ ]:
data[(data['category']=='Movie')&(data['listed_in']=='Comedies')|(data['country']=='United States')]

Q.7) HOW MANY TV SHOW AND MOVIE TOM CRUISE  WERE CAST

In [ ]:
data.head(10)

In [ ]:
data[(data['cast']=='Tom Cruise')|(data['category'])]

CREATING NEW DATAFRAME

In [ ]:
DATA = data.dropna()    #its drop the row that contains all or any missing values

In [27]:
DATA.head()

,show_id,category,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [ ]:
DATA[DATA['cast'].str.contains('Tom Cruise')]

Q.8) WHAT ARE THE DIFFERENT RATINGS DEFINED BY NETFLIX ?

In [ ]:
data.head(2) #with null values

In [ ]:
DATA.head(2)    # new data with null values

In [ ]:
data['rating'].nunique() # there are 17 differ rating defined by netflix

In [ ]:
data['rating'].unique()

HOW MANY MOVIES GOT THE TV-14 RATING IN CANADA?

In [21]:
data[(data['category']=='Movie')&(data['rating']=='TV-14')&(data['country']=='Canada')].shape

(13, 12)

HOW MANY TV SHOW GOT R RATING AFTER 2018 ?

In [29]:
data[(data['category']=='TV Show')&(data['rating']=='R')&(data['release_year'] >2018)]

Empty DataFrame
Columns: [show_id, category, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []